# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# VS Code
.vscode/

# Flutter/IDE/Project files
.idea/
.metadata
logistics_app_v3.iml
pubspec.lock

# Build output
/build/
android/app/build/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
linux/flutter/
linux/runner/
macos/Flutter/
macos/Runner/
macos/Runner.xcworkspace/
macos/RunnerTests/
windows/flutter/
windows/runner/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Временно игнорируем неиспользуемые файлы
lib/phone_screen.dart
lib/pin_screen.dart
lib/screens/auth_screen.dart
